@model CoMan.Models.CooperationModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details of cooperation";
}

<h1>Details</h1>

<div>
    <h4>Cooperation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
    </dl>
</div>
<div>
    
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireTeacher")).Succeeded)
    {
        @if (Model.Status == CooperationStatus.Active)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            <text> | </text>
            @Html.ActionLink("End", "End", new { id = Model.Id })
            <text> | </text>
        }
        @if (Model.Status == CooperationStatus.Ended)
        {
            @Html.ActionLink("Archive", "Archive", new { id = Model.Id })
            <text> | </text>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
