@model IEnumerable<CoMan.Models.CooperationModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Your cooperations";
}

<h1>Your cooperations</h1>

<table id="cooperation-table" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            @{
                string userToShow = "none";
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireTeacher")).Succeeded)
                {
                    <th>@Html.DisplayNameFor(model => model.Student)</th>
                    userToShow = "student";

                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireStudent")).Succeeded)
                {
                    <th>@Html.DisplayNameFor(model => model.Teacher)</th>
                    userToShow = "teacher";
                }
            }
            <th>@Html.DisplayNameFor(model => model.Topic)</th>
            <th></th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js" asp-append-version="true"></script>
    <script asp-append-version="true">
        var table;
        var includeArchived = false;

        $(document).ready(function () {
            table = $("#cooperation-table").DataTable({
                // Design Assets
                stateSave: false,
                autoWidth: true,
                // ServerSide Setups
                processing: true,
                serverSide: true,
                // Paging Setups
                paging: true,
                // Searching Setups
                searching: { regex: false },
                // Ajax Filter
                ajax: {
                    url: "/LoadCooperationTable",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (d) {
                        d.includeArchived = includeArchived;
                        return JSON.stringify(d);
                    }
                },
                // Columns Setups
                columns: [
                    { data: "startDate" },
                    { data: "status" },
                    { data: "endDate" },
                    { data: "@userToShow" },
                    { data: "topic" }
                ],
                // Column Definitions
                columnDefs: [
                    { targets: "no-sort", orderable: false },
                    { targets: "no-search", searchable: false },
                    { targets: 3, orderable: false },
                    { targets: 4, width: "50%" },
                    {
                        targets: 5,
                        data: null,
                        defaultContent: "<a class='btn btn-link' role='button' href='#'>Details</a>",
                        render: function (data, type, row, meta) {
                            return "<a class='btn btn-link' role='button' href='/Cooperation/Details/" + data.id + "'>Details</a>";
                        },
                        orderable: false
                    }
                ]
            });

            // Add the "include archived" button
            var searchContainer = $('.dataTables_length');
            var buttonHtml = '&nbsp;<a id="toggleArchivedButton" href="#">include archived</a>';
            searchContainer.append(buttonHtml);

            // Event listener for the "include archived" button click
            $("#toggleArchivedButton").on("click", function () {
                var button = $(this);
                if (includeArchived) {
                    button.text("inlcude archived");
                    includeArchived = false;
                } else {
                    button.text("exclude archived");
                    includeArchived = true;
                }
                table.ajax.reload();
            });
        });
    </script>
}
