@model CoMan.Models.CooperationRequestModel

@{
    ViewData["Title"] = "Cooperation request details";
}

<h1>Details</h1>

<div>
    <h4>Cooperation request details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinsiderationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinsiderationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipentComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipentComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
