@model IEnumerable<CoMan.Models.CooperationRequestModel>

@{
    ViewData["Title"] = "Cooperation requests";
}

<h1>Your cooperation requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsiderationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsiderationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                    <!-- Add link to the student in future -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                    @Html.DisplayFor(modelItem => item.Teacher.LastName)
                    <!-- Add link to the teacher in future -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
