@model IEnumerable<CoMan.Models.CooperationRequestModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Cooperation requests";
}

<h1>Your cooperation requests</h1>

<table id="cooperation-requests-table" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.ConsiderationDate)</th>
            @{
                string userToShow = "none";
                @if((await AuthorizationService.AuthorizeAsync(User, "RequireTeacher")).Succeeded)
                {
                    <th>@Html.DisplayNameFor(model => model.Student)</th>
                    userToShow = "student";

                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireStudent")).Succeeded)
                {
                    <th>@Html.DisplayNameFor(model => model.Teacher)</th>
                    userToShow = "teacher";
                }
            }
            <th>@Html.DisplayNameFor(model => model.Topic)</th>
            <th></th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js" asp-append-version="true"></script>
    <script asp-append-version="true">
        var table;

        $(document).ready(function () {
            table = $("#cooperation-requests-table").DataTable({
                // Design Assets
                stateSave: false,
                autoWidth: true,
                // ServerSide Setups
                processing: true,
                serverSide: true,
                // Paging Setups
                paging: true,
                // Searching Setups
                searching: { regex: true },
                // Ajax Filter
                ajax: {
                    url: "/LoadCooperationRequestTable",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                // Columns Setups
                columns: [
                    { data: "creationDate" },
                    { data: "status" },
                    { data: "considerationDate" },
                    { data: "@userToShow" },
                    { data: "topic" }
                ],
                // Column Definitions
                columnDefs: [
                    { targets: "no-sort", orderable: false },
                    { targets: "no-search", searchable: false },
                    { targets: 1, orderable: false },
                    {
                        targets: 5,
                        data: null,
                        defaultContent: "<a class='btn btn-link' role='button' href='#'>Details</a>",
                        render: function (data, type, row, meta) {
                            return "<a class='btn btn-link' role='button' href='/CooperationRequest/Details/" + data.id + "'>Details</a>";
                        },
                        orderable: false
                    }
                ]
            });
        });
    </script>
}
