@model IEnumerable<CoMan.Models.TopicModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "TopicList";
}

<h1>TopicList</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "RequireTeacher")).Succeeded)
{
    <p>
        <a asp-action="Create">Add topic</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.Id })
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                    {
                        <text> | </text>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
